:root {
  --white: #fff;
  --white-opaque: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-opaque: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: Neucha, cursive;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  margin-bottom: 200px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.d-flex {
  display: flex;
}

.just-between {
  justify-content: space-between;
}

.col-gap-30 {
  column-gap: 30px;
}

.pos-relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.m-0 {
  margin: 0;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-min-200 {
  margin-bottom: -200px;
}

.p-55 {
  padding: 55px;
}

.text-center {
  text-align: center;
}

.decoration-none {
  text-decoration: none;
}

.color-orange {
  color: var(--main-orange);
}

.color-white {
  color: var(--white);
}

.color-white-opaque {
  color: var(--white-opaque);
}

.color-dark {
  color: var(--dark);
}

.color-dark-opaque {
  color: var(--dark-opaque);
}

.color-brown {
  color: var(--brown);
}

.color-blue {
  color: var(--blue);
}

.background-white {
  background-color: var(--white);
}

.background-light {
  background-color: var(--light);
}

.background-dark {
  background-color: var(--main-dark);
}

.background-brown {
  background-color: var(--brown);
}

.landing-section {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.section-content {
  width: 1110px;
}

.background-question {
  position: relative;
}

.background-question::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/background.png") top left / cover no-repeat;
  opacity: 0.1;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.column-break {
  break-before: column;
}

.header-img {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
  z-index: -1;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-orange {
  color: var(--white);
  background-color: var(--main-orange);
}

.button-orange:hover {
  background-color: #ea7600;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation {
  padding-top: 200px;
}

#navigation .section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.square-card {
  display: block;
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
}

h2.square-card {
  font-size: 52px;
  margin: 0;
  padding: 0;
}

.square-card h3 {
  margin-bottom: 16px;
}

.square-card p {
  margin: 0;
}

.number {
  display: block;
  margin-bottom: 40px;
  font-family: Neucha, cursive;
  font-size: 64px;
  line-height: 1;
}

a.square-card:hover {
  color: var(--white);
  background-color: var(--main-orange);
}

a.square-card:hover h3 {
  color: var(--white);
}

.subheading {
  font-family: Neucha, cursive;
  font-size: 24px;
}

.large-text {
  font-family: Neucha, cursive;
  font-size: 34px;
  line-height: 41px;
}

.small-header {
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-label {
  display: block;
  font-size: 18px;
  padding-bottom: 10px;
}

.footer-input {
  box-sizing: border-box;
  width: 423px;
  height: 50px;
  padding: 15px;
  border: none;
  font-size: 13.1px;
}

.send-button {
  position: relative;
  width: 70px;
  height: 50px;
}

.send-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../img/send.svg");
  transform: translate(-50%, -50%);
}

.agreement {
  font-size: 12px;
}

.agreement a {
  color: inherit;
}

.contacts {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}
