:root {
  --white: #fff;
  --white-opaque: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-opaque: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: Neucha, cursive;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  margin-bottom: 200px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.pos-relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.top-200 {
  top: -200px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.decoration-none {
  text-decoration: none;
}

.color-orange {
  color: var(--main-orange);
}

.color-white {
  color: var(--white);
}

.color-dark {
  color: var(--dark);
}

.background-white {
  background-color: var(--white);
}

.background-light {
  background-color: var(--light);
}

.background-dark {
  background-color: var(--main-dark);
}

.landing-section {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.section-content {
  width: 1110px;
}

.background-question::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/background.png") top left / cover no-repeat;
  opacity: 0.1;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.column-break {
  break-before: column;
}

.header-img {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
  z-index: -1;
}

.button {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-orange {
  color: var(--white);
  background-color: var(--main-orange);
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation {
  padding-top: 200px;
}

#navigation .section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

#navigation h2 {
  font-size: 52px;
}

.square-card {
  display: block;
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
}

.square-card:hover {
  color: var(--white);
  background-color: var(--main-orange);
}

.square-card:hover h3 {
  color: var(--white);
}

.square-card h3 {
  margin-bottom: 16px;
}

.square-card p {
  margin: 0;
}

.number {
  display: block;
  margin-bottom: 40px;
  font-family: Neucha, cursive;
  font-size: 64px;
  line-height: 1;
}
